@import '../../../../../styles/colors.config.scss';
@import '../../../../../styles/font-sizes.config.scss';
@import '../../../../../styles/offsets.config.scss';

.btn {
  background-color: $white;
  border-radius: 100px;
  border: solid 1px $gray-3;
  cursor: pointer;
  margin-left: $offset-sm;
  padding: $offset-xs $offset-md;
  transition: 0.3s linear;

  &:hover {
    background-color: $green-5;
    border: solid 1px $no-color;
    color: $white;
  }

  &:first-child {
    margin-left: 0;
  }

  &.is-active {
    background-color: $green-5;
    border: solid 1px $no-color;
    color: $white;
  }
}

.title {
  font-size: $font-size-md;
  letter-spacing: -0.3px;
}
